.right{
    margin: 0;
    width: 80%;
    position: absolute;
    top: 8%;
    left: 20%;
}
.main{
    padding: 50px;
}
.left{
    position: fixed;
    width: 95%;
}
.mr{
    margin-left: 10px !important;
}
.btn{
    width: 20px;
}
.like btn{
    width: 65px;
}
