 .left{
    background: #00adef;
    height: 500px;
    width: 15%;
    position: absolute;
    top: 8%;
    left: 3%;
    border-radius: 10px;
} 

 /* .left .admin{
    color: white !important;
}  */
h1{
    padding-top: 50px;
    text-align: center;
    color: white;
} 
 /* .listAdmin{
  padding-top: 70px;
  line-height: 30px;
  text-align: left;
  margin-left: 20%;
}  */
a{
    color: white;
}
.text_link:hover{
    /* display: flex; */
    color: orange;
}
  .right{
    min-height: 76vh;
    width: 520%;
    position: absolute;
    top: 0%;
    left: 102%;
    border-radius: 10px;
}
/* .admin{
    color: white !important;
    margin-top: 20px;
}
.title{
    text-align: center;
} */
/* .icon{
    position: relative;
    font-size: 250px;
    color: #0f75bd;
    animation: flicker 2s infinite alternate;
    animation-timing-function: linear;
}
@keyframes flicker{
    0%   {color:#0f75bd; left:0px; top:0px;}
    25% {color:#6699FF; left:-75px; top:0px;}
    50%  {color:#9999FF; left:-150px; top:0px;}
    75% {color:#3399FF; left:-225px; top:0px;}
    100%  {color:#0f75bd; left:-300px; top:0px;}
     50%  {color:blue; left:200px; top:200px;}
    75%  {color:green; left:0px; top:200px;}
    100% {color:red; left:0px; top:0px;} 
}
 */




/* ---------------------------------------------------------------------
giao dien moi */

.adminFunction:not([href]){
    color:white;
}

.adminSidebar{
    position: absolute;
    top: 3%;
    left: -250px;
    width: 250px;
    height: 97%;
    background: #042331;
    transition: all .5s ease;
}

.adminHeader{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.adminFunction{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left:40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}


ul li:hover .adminFunction{
    padding-left: 50px;
    color: orange;
}

.check{
    display: none;
}



.check:checked ~ .adminSidebar{
    left: 0;
}

.check:checked ~ label .btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

.check:checked ~ label .cancel{
    left: 195px;
}


section{
    background: url(https://thumbs.dreamstime.com/z/cinema-event-background-vector-seamless-pattern-flat-movie-background-cinema-attributes-film-strip-camera-reel-masks-popcorn-129374847.jpg);
    background-position: center;
    background-size: cover;
    height: 0vh;
    transition: all .5s;
}