.action{
    position: absolute;
    top: 15%;
    left: 30%;
}
.comment{
    background: lightcoral;
    height: 100px;
    width: 1000px;
    position: absolute;
    top: 100%;
    left: 20%;
}

.ActionFilmTitle{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}