.right{
    min-height: 80vh;
    width: 510%;
    position: absolute;
    top: 0%;
    left: 124%;
}
.mb-10{
    margin-bottom: 10px;
}
.mr{
    margin-right: 10px !important;
}
.txtname{
    border: solid 1px black !important;
    left: 0 !important;
}


/* -----------------------------------------------
giao dien moi */

/* .formAdd{
    position: absolute;
    width: 200%;
    height: 1000%;
    top:0;
    left: 124%;
    background: pink;
} */