.right{
    min-height: 80vh;
    width: 409%;
    position: absolute;
    top: 0%;
    left: 230%;
}
.mb-10{
    margin-bottom: 10px;
}
.mr{
    margin-right: 10px !important;
}
.txtname{
    border: solid 1px black !important;
    left: 0 !important;
}

.inputAdd{
    display: flex;
}

.inputAdd input{
    border: none;
    margin-left: 20px;
    background: none;
    border-bottom: solid 1px;
    outline: none;
}

.inputAdd i{
    margin-right: 10px;
}

.inputAdd label{
    width: 33%;
}



/* -----------------------------------------------
giao dien moi */

/* .formAdd{
    position: absolute;
    width: 200%;
    top:0;
    left: 124%;
} */

